{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{{ include('base.html.twig') }}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ user.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('liste') }}">back to list</a>

{% endblock %}
